# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
#dataframe calculation, aggregation, and summarization 
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import dataset
pokemon = pd.read_csv("pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [3]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
# your code here
pokemon_type = pokemon[['Type 1','Type 2']]
#pokemon_type
pokemon_type.to_numpy()

array([['Grass', 'Poison'],
       ['Grass', 'Poison'],
       ['Grass', 'Poison'],
       ...,
       ['Psychic', 'Ghost'],
       ['Psychic', 'Dark'],
       ['Fire', 'Water']], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [121]:
test = "VenusaurMega Venusaur Z"
test.index('Mega')
test[test.index('Mega'):]

'Mega Venusaur Z'

In [6]:
# your code here
def clean_mega_2(text):
    if 'Mega' in text:
        return text[text.index('Mega'):]
    else:
        return text

In [74]:
#test = "XMega Y"
#clean_mega_2(test)

'Mega Y'

In [7]:
pokemon['Name'] = pokemon['Name'].apply(clean_mega_2)
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [8]:
#Another way
test = "VenusaurMega Venusaur Z"
if 'Mega' in test:
    test_split = test.split('Mega ')
    test_split[0] = 'Mega'
    test_clean = " ".join(test_split)
test_clean

'Mega Venusaur Z'

In [9]:
def clean_mega(text):
    if 'Mega' in text:
        text_split = text.split('Mega ')
        text_split[0] = 'Mega'
        return " ".join(text_split)
    else:
        return text

In [61]:
#test = "XMega Y"
#clean_mega(test)

'Mega Y'

In [10]:
pokemon['Name'] = pokemon['Name'].apply(clean_mega)

In [11]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [13]:
# your code here
pokemon['A/D Ratio'] = pokemon['Attack']/pokemon['Defense']
pokemon[['Attack', 'Defense','A/D Ratio']]

     Attack  Defense  A/D Ratio
0        49       49   1.000000
1        62       63   0.984127
2        82       83   0.987952
3       100      123   0.813008
4        52       43   1.209302
..      ...      ...        ...
795     100      150   0.666667
796     160      110   1.454545
797     110       60   1.833333
798     160       60   2.666667
799     110      120   0.916667

[800 rows x 3 columns]

#### Identify the pokemon with the highest `A/D Ratio`.

In [31]:
# your code here
display(pokemon['A/D Ratio'].max())
max_ratio=(pokemon[pokemon['A/D Ratio']==pokemon['A/D Ratio'].max()])
display(max_ratio)
print('The name of the pokemon with the lowest A/D Ratio is:', max_ratio['Name'])

9.0

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

The name of the pokemon with the lowest A/D Ratio is: 429    DeoxysAttack Forme
Name: Name, dtype: object

Identify the pokemon with the lowest A/D Ratio.

In [29]:
# your code here
display(pokemon['A/D Ratio'].min())
min_ratio = (pokemon[pokemon['A/D Ratio']==pokemon['A/D Ratio'].min()])
display(min_ratio)
print('The name of the pokemon with the lowest A/D Ratio is:', min_ratio['Name'])
#how do I show only the name???

0.043478260869565216

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

The name of the pokemon with the lowest A/D Ratio is: 230    Shuckle
Name: Name, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [80]:
pokemon.head(4)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass

In [82]:
pd.isna(None)

True

In [84]:
# your code here
#pokemon['Combo Type'] = pokemon['Type 1']+ '-' +pokemon['Type 2']
#pokemon[['Type 1', 'Type 2','Combo Type']]

def combo(row):
    if  pd.isna(row['Type 2']):
        return row['Type 1']
    else:
        return row['Type 1'] + '-' + row['Type 2']
    
pokemon['Combo Type'] = pokemon.apply(combo, axis = 1)
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

In [ ]:
#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [87]:
# your code here

pokemon_sorted = pokemon.sort_values(by='A/D Ratio', ascending=False)
pokemon_sorted = pokemon_sorted.head(5)
pokemon_sorted

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [117]:
# your code here
#combo_type = list(pokemon['Combo Type'].nique())
#combo_type
pokemon_sorted.groupby(['A/D Ratio', 'Name']).agg({'Combo Type':pd.Series.unique})

                              Combo Type
A/D Ratio Name
3.000     Sharpedo            Water-Dark
3.125     Cranidos                  Rock
3.750     Mega Beedrill       Bug-Poison
4.500     Carvanha            Water-Dark
9.000     DeoxysAttack Forme     Psychic

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [112]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
 13  A/D Ratio   800 non-null    float64
 14  Combo Type  800 non-null    object
dtypes: bool(1), float64(1), int64(9), object(4)
memory usage: 88.4+ KB

In [116]:
# your code here
pokemon_sorted.groupby(['Combo Type']).agg({'#':np.mean,'Total':np.mean,'Attack':np.mean,'Defense':np.mean, 'Sp. Atk':np.mean,'Sp. Def':np.mean,'Speed' : np.mean, 'Generation': np.mean,'Legendary':np.mean, 'A/D Ratio': np.mean })

,#,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,
Bug-Poison,15.0,495.0,150.0,40.0,15.0,80.0,145.0,1.0,0.0,3.750
Psychic,386.0,600.0,180.0,20.0,180.0,20.0,150.0,3.0,1.0,9.000
Rock,408.0,350.0,125.0,40.0,30.0,30.0,58.0,4.0,0.0,3.125
Water-Dark,318.5,382.5,105.0,30.0,80.0,30.0,80.0,3.0,0.0,3.750